@import "variable";

.MuiButtonBase-root {
  box-shadow: none !important;
  text-transform: none !important;

  &.large_button {
    align-items: start !important;
    justify-content: start !important;
  }
}


.navList_item__ {
  .MuiListItemIcon-root {
    min-width: 35px !important;
  }

  .MuiTypography-root {
    color: $text-gray !important;
  }


  .container_nested_list {
    margin-top: 4px;
  }

  .MuiListItemButton-root {
    margin-top: 4px;
  }

  .MuiListItemButton-root.active_list__ {
    background: $primary-10;

    .MuiTypography-root {
      color: $primary-main !important;
    }

  }
}
